/* built in cubic-bezier */
.slow   { -webkit-transition: all 0.35s ease-in-out; }
.medium { -webkit-transition: all 0.25s ease-in-out; }
.fast   { -webkit-transition: all 0.15s ease; }

/* custom cubic beziers */
.animates { -webkit-transition: -webkit-transform 0 cubic-bezier(0, 0, 0.2, 1); }

/* keyframes */

@keyframes awesome-animation {
  from { left: 124.00px; top: 409.00px; } 
  1.00% { left: 127.64px; top: 408.03px; } 
  2.00% { left: 131.28px; top: 407.06px; } 
  3.00% { left: 134.92px; top: 406.09px; } 
  4.00% { left: 138.56px; top: 405.12px; } 
  5.00% { left: 142.20px; top: 404.15px; } 
  6.00% { left: 145.84px; top: 403.18px; } 
  7.00% { left: 149.48px; top: 402.21px; } 
  8.00% { left: 153.12px; top: 401.24px; } 
  9.00% { left: 156.76px; top: 400.27px; } 
  10.00% { left: 160.40px; top: 399.30px; } 
  11.00% { left: 164.04px; top: 398.33px; } 
  12.00% { left: 167.68px; top: 397.36px; } 
  13.00% { left: 171.32px; top: 396.39px; } 
  14.00% { left: 174.96px; top: 395.42px; } 
  15.00% { left: 178.60px; top: 394.45px; } 
  16.00% { left: 182.24px; top: 393.48px; } 
  17.00% { left: 185.88px; top: 392.51px; } 
  18.00% { left: 189.52px; top: 391.54px; } 
  19.00% { left: 193.16px; top: 390.57px; } 
  20.00% { left: 196.80px; top: 389.60px; } 
  21.00% { left: 200.44px; top: 388.63px; } 
  22.00% { left: 204.08px; top: 387.66px; } 
  23.00% { left: 207.72px; top: 386.69px; } 
  24.00% { left: 211.36px; top: 385.72px; } 
  25.00% { left: 215.00px; top: 384.75px; } 
  26.00% { left: 218.64px; top: 383.78px; } 
  27.00% { left: 222.28px; top: 382.81px; } 
  28.00% { left: 225.92px; top: 381.84px; } 
  29.00% { left: 229.56px; top: 380.87px; } 
  30.00% { left: 233.20px; top: 379.90px; } 
  31.00% { left: 236.84px; top: 378.93px; } 
  32.00% { left: 240.48px; top: 377.96px; } 
  33.00% { left: 244.12px; top: 376.99px; } 
  34.00% { left: 247.76px; top: 376.02px; } 
  35.00% { left: 251.40px; top: 375.05px; } 
  36.00% { left: 255.04px; top: 374.08px; } 
  37.00% { left: 258.68px; top: 373.11px; } 
  38.00% { left: 262.32px; top: 372.14px; } 
  39.00% { left: 265.96px; top: 371.17px; } 
  40.00% { left: 269.60px; top: 370.20px; } 
  41.00% { left: 273.24px; top: 369.23px; } 
  42.00% { left: 276.88px; top: 368.26px; } 
  43.00% { left: 280.52px; top: 367.29px; } 
  44.00% { left: 284.16px; top: 366.32px; } 
  45.00% { left: 287.80px; top: 365.35px; } 
  46.00% { left: 291.44px; top: 364.38px; } 
  47.00% { left: 295.08px; top: 363.41px; } 
  48.00% { left: 298.72px; top: 362.44px; } 
  49.00% { left: 302.36px; top: 361.47px; } 
  50.00% { left: 306.00px; top: 360.50px; } 
  51.00% { left: 309.64px; top: 359.53px; } 
  52.00% { left: 313.28px; top: 358.56px; } 
  53.00% { left: 316.92px; top: 357.59px; } 
  54.00% { left: 320.56px; top: 356.62px; } 
  55.00% { left: 324.20px; top: 355.65px; } 
  56.00% { left: 327.84px; top: 354.68px; } 
  57.00% { left: 331.48px; top: 353.71px; } 
  58.00% { left: 335.12px; top: 352.74px; } 
  59.00% { left: 338.76px; top: 351.77px; } 
  60.00% { left: 342.40px; top: 350.80px; } 
  61.00% { left: 346.04px; top: 349.83px; } 
  62.00% { left: 349.68px; top: 348.86px; } 
  63.00% { left: 353.32px; top: 347.89px; } 
  64.00% { left: 356.96px; top: 346.92px; } 
  65.00% { left: 360.60px; top: 345.95px; } 
  66.00% { left: 364.24px; top: 344.98px; } 
  67.00% { left: 367.88px; top: 344.01px; } 
  68.00% { left: 371.52px; top: 343.04px; } 
  69.00% { left: 375.16px; top: 342.07px; } 
  70.00% { left: 378.80px; top: 341.10px; } 
  71.00% { left: 382.44px; top: 340.13px; } 
  72.00% { left: 386.08px; top: 339.16px; } 
  73.00% { left: 389.72px; top: 338.19px; } 
  74.00% { left: 393.36px; top: 337.22px; } 
  75.00% { left: 397.00px; top: 336.25px; } 
  76.00% { left: 400.64px; top: 335.28px; } 
  77.00% { left: 404.28px; top: 334.31px; } 
  78.00% { left: 407.92px; top: 333.34px; } 
  79.00% { left: 411.56px; top: 332.37px; } 
  80.00% { left: 415.20px; top: 331.40px; } 
  81.00% { left: 418.84px; top: 330.43px; } 
  82.00% { left: 422.48px; top: 329.46px; } 
  83.00% { left: 426.12px; top: 328.49px; } 
  84.00% { left: 429.76px; top: 327.52px; } 
  85.00% { left: 433.40px; top: 326.55px; } 
  86.00% { left: 437.04px; top: 325.58px; } 
  87.00% { left: 440.68px; top: 324.61px; } 
  88.00% { left: 444.32px; top: 323.64px; } 
  89.00% { left: 447.96px; top: 322.67px; } 
  90.00% { left: 451.60px; top: 321.70px; } 
  91.00% { left: 455.24px; top: 320.73px; } 
  92.00% { left: 458.88px; top: 319.76px; } 
  93.00% { left: 462.52px; top: 318.79px; } 
  94.00% { left: 466.16px; top: 317.82px; } 
  95.00% { left: 469.80px; top: 316.85px; } 
  96.00% { left: 473.44px; top: 315.88px; } 
  97.00% { left: 477.08px; top: 314.91px; } 
  98.00% { left: 480.72px; top: 313.94px; } 
  99.00% { left: 484.36px; top: 312.97px; } 
  to { left: 488.00px; top: 312.00px; } 
}