body {
  margin: 0;
  background: #F0F1EB;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}

a { margin: 0px 10px; color: #444; font-size: 25px; }
a:active { background-color: salmon; }

h1 {
  width: 100%;
  text-align: center;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 35px;
  line-height: 35px;
  margin: 10px 0 5px 0;
  padding: 0;
}

.inputContainer { width: 100%; position: relative; height: 50px; }

.sprite { 
  background-image: url(images.png);
  background-repeat:no-repeat;
  position: absolute;
  right: 5px;
  left: 5px;
  height: 38px;
  -webkit-appearance: none;
  display: block;
  border: 1px solid #c7c7c7;
  border-radius: 3px;
  margin: 5px 0;
  padding: 0px 4px 0 47px;
  color: #363636;
  background-repeat: no-repeat;
  font-size: 18.11px;
  font-weight: normal;
}

input::-webkit-input-placeholder { opacity: .8; }
input[type="text"]:focus, .ui-content input[type="datetime"]:focus { background-color: #fffbcd; }

/* MANUAL IMAGES */

/*.text { background-image: url('images/text.png') }
.text:focus { background-image: url('images/text-focus.png') }

.date { background-image: url('images/date.png') }
.date:focus { background-image: url('images/date-focus.png') }
*/

.text{background-position:0px 0px;}
.text:focus{background-position:0px -40px;}
.date{background-position:0px -80px;}
.date:focus{background-position:0px -120px;}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .sprite {
    background-image: url('images-retina.png');
    background-repeat:no-repeat;
    background-size: 40px 160px;
  }
}